<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Pierre Cafe</title>
<link rel="stylesheet" href="style/style.css">
</head>
<body>



<div class="container">
	<div class="screen">
		<div class="screen__content">
            <h2 style="color: rgb(232, 240, 232);">Please Log in To Pierre Cafe</h2>
			<form class="login" method="post" action="/login">
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="text" name="user" class="login__input" placeholder="User name / Email">
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input type="password" name="pass" class="login__input" placeholder="Password">
				</div>
                <input style="color: rgb(230, 236, 230);" class="login__submit" type="submit" name="" value="Sign In">	
			</form>
            <a style="color: rgb(229, 235, 229);" class="login__submit" href="/signup">sign up</a>	
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>	

	</div>
</div>
</body>
</html>

