<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="style/searchst.css">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="background-color: darkgreen;">
   

    <div  style="background-color: darkgreen;" class="container">
        <div style="background-color: darkgreen;" class="cover">
            <h1>Serach By food name</h1>
            <form  class="flex-form" action="/search2" method="post">
                
                <input type="search" name="name" placeholder="enter name to search">
                <input type="submit" value="Search">
            </form>
        </div>

    </div>

</body>

</html>