<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="style/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/updatefood" method="POST">
        <br>
        <div class="login_field">
    <input type="text" name="food" placeholder="Food name">
        </div>
    
    <br>
        <div class="login__input"><input type="number" name="price" placeholder="new price"></div>
        
        <br>
       <div class="login__submit">  <input type="submit" value="update food"></div>
    </form>
</body>

</html>