<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="style/style.css">
<head>
    <%-include('partial/head')%>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pierre</title>
</head>
<body >
    
 <h1>To Pierre CAFE</h1>
    <div class="container">
        <div class="screen">
            <div class="screen__content">
               <h1 class="login__input" ><a style="color: aliceblue;"  href="/show"  class="login__submit"> Show  All  Foods</a></h1> 
               <br>
              <h1 class="login__input"><a style="color: aliceblue;" href="search" class="login__submit"> Search  about  Food</a></h1>  
            </div>
        </div>
    </div>
</body>
</html>